@import '_colors.scss';

%baseSettings {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Hind Siliguri', sans-serif;
}

%topbottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  background-color: $maxred;
  z-index: 1;
}

%navSettings {
  display: flex;
  margin-right: 40px;
  font-size: 1.5em;
}

%bannerSettings {
  object-fit: cover;
  width: 100%;
  height: 600px;
}

%bannertxtSettings {
  margin-top: 0;
  padding-left: 20px;
  border-top: 10px solid $carnellian;
  background-color: $maxred;
  font-size: 1.8em;
  padding: 20px 0px;
}

%base-mainC {
  display: flex;
  justify-content: space-around;

  img {
    border: 1px solid $charcoal;
    border-radius: 10px;
    box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.22);
    width: 50%;
    height: 350px;
    object-fit: cover;
  }
}

%text-pos {
  display: flex;
  margin: 0px 20px;
// Change width from 50% to 70%
  width: 70%;
  flex-direction: column;
}

%underline {
  border-bottom: 2px solid #dadfea;
  width: 100%;
}

%base-dd {
  display: flex;
  justify-content: center;
  
  p {
    width: 70%;
  }
  img {
    width: 100%;
  }

  .imageM {
    border-top: 30px solid #B42318;
    border-bottom: 30px solid #B42318;
    width: 1180px;
  }

  .charSelect {
    width: 50%;
  }
}