@import '_vars.scss';
@import '_colors.scss';

.main {

  h2 {
    color: $stargold;
  }

  .intro{
    @extend %base-mainC;
    @extend %underline;
      
    .textMain {
      @extend %text-pos;
    }
  }


  .wii {
    @extend %base-mainC;
    @extend %underline;
    flex-direction: row-reverse;
    margin-top: 40px;
      
    .textWii {
      @extend %text-pos;
      
      h2 {
        align-self: flex-end;
      }
    }
  }

  .doubledash {
    @extend %base-mainC;
    margin-top: 40px;
    
    .textDoubledash {
      @extend %text-pos;
    }
  }

  .foot {
    border-top: 10px solid $carnellian;
  }
}
