@import '_vars.scss';
@import '_colors.scss';

body {
  @extend %baseSettings;

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    background-color: $maxred;

    .headText {
      display: flex;

      a {
        text-decoration: none;
        color: $cultured;
      }
    }

    .nav {
      display: flex;
      margin-right: 40px;

      a {
        margin: 10px;
        text-decoration: none;
        color: $cultured;
        border: 3px solid transparent;
        border-radius: 3px;
        transition: 0.5s ease-in-out;
      }

      a:hover {
        color: $harvest;
        border-bottom: 3px solid $harvest;
      }
    }
  }
}